<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>textureFileName</key>
	<string>dot.png</string>
	<key>duration</key>
	<real>-1</real>
	<key>life</key>
	<real>8</real>
	<key>lifeVar</key>
	<real>0</real>
	<key>startSize</key>
	<real>2</real>
	<key>startSizeVar</key>
	<real>1</real>
	<key>endSize</key>
	<real>2</real>
	<key>endSizeVar</key>
	<real>1</real>
	<key>angle</key>
	<real>180</real>
	<key>angleVar</key>
	<real>0</real>
	<key>rotation</key>
	<real>0</real>
	<key>gravityx</key>
	<real>0</real>
	<key>gravityy</key>
	<real>0</real>
	<key>speed</key>
	<real>60</real>
	<key>speedVar</key>
	<real>5</real>
	<key>radialAccel</key>
	<real>0</real>
	<key>radialAccelVar</key>
	<real>0</real>
	<key>tangentialAccel</key>
	<real>0</real>
	<key>tangentialAccelVar</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>0</real>
	<key>sourcePositionVariancey</key>
	<integer>160</integer>
	<key>sourcePositionx</key>
	<integer>480</integer>
	<key>sourcePositiony</key>
	<integer>160</integer>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>1</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>1</real>
	<key>finishColorGreen</key>
	<real>1</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
</dict>
</plist>
